@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('../img/bg-london-afternoon.jpg') no-repeat;
    background-size: cover;
}
.clock-app{
    font-family: 'Inter', sans-serif;
    height: 100vh;
    width: 100vw;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
    color: #ffffff;
}
.container{
    width: 96%;
    display: flex;
    justify-content: space-between;
    padding: 0 45px;
    flex-direction: column;
}
blockquote{
    position: relative;
    width: 85%;
}
blockquote #author{
    display: inline-block;
    font-weight: 600;
    margin-top: 20px;
}
blockquote{
    font-size: clamp(0.8rem, 1.6vw, 1.17rem);
}
blockquote .change-quote{
    display: inline-block;
    margin-left: 20px;
    font-size: 25px;
    cursor: pointer;
    font-weight: 300;
    transition: .25s;
    opacity: .5;
}
blockquote .change-quote:hover{
    transform: rotate(180deg);
}
.infos #day-period,
.infos #location{
    font-size: clamp(1rem, 1.6vw, 1.5rem);
    font-weight: 400;
    text-transform: uppercase;
}

.infos #time{
    font-size: clamp(6.5rem, 10vw, 9.375rem);
    font-weight: 700;
}
.location-select select{
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: #60666d;
    border: none;
    border-radius: 15px;
    outline: none;
}
.location-select select option{

    padding: 50px;
    font-size: 15px;
    color: #60666d;
    border: none;
}
@media (min-width: 600px){
    .container{
        width: 88%;
        display: flex;
        justify-content: space-between;
        padding: 0 45px;
        flex-direction: column;
    }
    blockquote{
        width: 50%;
    }
    .infos{
        display: flex;
        justify-content: space-between;
    }
    .infos .location-select{
        display: flex;
        align-items: end;
    }

}